<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Published Date:</strong> {{ book.published_date }}</p>
    <a href="{% url 'book_update' book.pk %}">Edit</a>
    <form action="{% url 'book_delete' book.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <a href="{% url 'book_list' %}">Back to book list</a>
</body>
</html>